div {
   border: 1px solid black;
   box-sizing: border-box;
   padding: 3px; 
   margin: 1px;
}

body {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

.notice {
    font-size: 30px;
    text-align: center;
    padding: 0 70px;
}

div.member__notice {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.member {
    margin:10px 0;
}

form {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 3px;
    margin: 10px 1px;
}

.board {
    width: 600px;
    margin: auto;
    margin-bottom: 100px;
}

.original＿＿comment {
    min-height: 100px;
    padding: 10px;
    white-space: pre-line;
}

.original__sub-comment, .original__sub-add  {
    margin: 10px 1px 0px 40px;
}

.original＿＿board ~ .original＿＿board {
    margin-top: 30px;
}

.pages {
    text-align: center;
    word-wrap: break-word;
    margin:10px 1px;
}

.page {
    margin:0 3px;
}

.welcome {
    font-size:25px;
    margin: 10px 1px 0px;
}

.number {
    width: 200px;
    margin: 200px auto;
}