body {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    background-image: url('./lol-bg.jpg');
    margin: 0;
    color: white;
}

a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;

}

a:hover {
text-decoration: none;
} /* a 標籤不變動 */

.board {
    margin: 100px auto 10px;
    text-align: center;
    min-width: 340px;
    max-width: 1400px;
}

.board__title {
    font-size: 50px;
    padding: 20px;
}

.twitch__block {
    width: 330px;
    height: 260px;
    display: inline-flex;
    justify-content: center;
    margin: 10px 5px;
    background: #FFFFFF11;
    border-radius: 10px;
}

.twitch__preview {
    width: 320px;
    height: 180px;
    margin: 5px 0;
}

.twitch__info {
    margin: 10px 0;
    display: flex;
    width: 320px;
}

.twitch__logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px
}

.twitch__channel {
    margin: 0 0 0 10px;
    width: 250px;
    text-align: start;
}

.twitch__status {
    width: 250px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 19px; /* 防止 a 標籤的變動 */
    color: white;
}

.twitch__name {
    width: 250px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px 0;
    font-size: 12px; /* 防止 a 標籤的變動 */
    color: white;
}
