body {
  font-size: 30px;
  font-weight: bolder;
  font-family: serif;
}

.body-first {
  background: #007FFF90;
}

.body-none {
  color: white;
  background: #333333;
}

.app {
  max-width: 500px;
  margin: 100px auto auto;
}

.app__prize {
  display:flex;
  justify-content: center;
}

.app__picture {
  display:flex;
  justify-content: center;
}