body {
    margin:0px;
    font-family: sans-serif;
}

.homePage__navigation {
    background:#023175;
    height: auto;
    line-height: 50px; /*設置高度就可以置中*/
    width:100%;
    position: fixed;
}

.homePage__navigation-title {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    margin: 0px 10px;
    display:inline-block;
}

.homePage__navigation-item {
    color: #ffa100;
    font-size: 20px;
    margin: 0px 10px;
    display:inline-block;
}

.homePage__navigation-item:hover {
    color:white;
    cursor: pointer;/*滑鼠變換*/
}

.homePage__introduction {
    background: #dae3ff;
    padding: 10px;
    width:100%;    
}

.homePage__introduction-board {
    padding-top: 50px;
    max-width: 1000px;
    margin: 0px auto;
}

.homePage__introduction-title {
    font-size: 91px;
    font-weight: bolder;
    margin: 20px;
    margin-top:40px;
}

.homePage__introduction-content {
    font-size: 17px;
    margin: 20px;
    max-width: 1000px;
}

.homePage__introduction-more {
    margin: 20px;
    padding:15px;
    border-radius: 10px;
    background: #348fff;
    max-width:178px;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
}

.homePage__introduction-more:hover {
    background: #0072ff;
    cursor: pointer;/*滑鼠變換*/
}

.homePage__content {
    height: auto;
    max-width:1000px;
    margin: 0px auto;
}

.homePage__content-box {
    height: auto;
    max-width:32%;
    display:inline-block;
}

.homePage__content-box-title {
    font-size: 39px;
    font-weight: blder;
    margin: 20px;
    margin-top:30px;
}

.homePage__content-box-content {
    font-size: 15px;
    margin: 20px;
}

.homePage__content-box-more {
    margin:20px;
    padding:15px;
    border-radius: 10px;
    background: #838c8a;
    max-width:178px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.homePage__content-footer {
    height: 60px;
    max-width: 1000px;
    border-top: 1px solid black;
    box-sizing: border-box;
    padding:20px;
    font-size: 13px;
}

@media screen and (max-width: 1000px){ /* 尺寸到達一定範圍內實現 */
    .homePage__content {
        flex-wrap: wrap;
    }  
    
    .homePage__content-box {
        max-width:100%;
    }
}
