.nav {
  display: flex;
  padding: 0 10px;
  background: aqua;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  min-width: 572px;
}

.nav > h1, .nav > h3, .nav > a {
  margin: 0;
  padding: 0 20px;
  height: 100%;
  line-height: 65px; /* 置中效果 */
}

.nav > h3, .nav > a {
  text-decoration: none;
  color: black;
}

a > li {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
  list-style: none;
}

.active {
  background: #fff;
}